<div class='container'>
  <div class='row'>
    <h1 class="px-3 mx-auto">Welcome to <i class="fas fa-book"></i><strong>Bookers</strong>!</h1>
    <h1>Bookersを使用するときは部屋を明るくしてご利用して下さい。</h1>
  </div>
</div>